<% provide(:title, "week #{@week.week_num}") %>
<div class="row">
  <div class="span8 offset3">
    <% if @games.any? %>
      <h3>Week <%= @week.week_num %> Games (<%= @games.count %>)</h3>
      <ol class="games">
        <%= render @games %>
      </ol>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span6 offset4">
    <%= link_to "Entry...", user_entry_path(@user, @entry), class: "btn btn-primary" %>
    <%= link_to "What if", what_if_week_path, class: "btn btn-primary" %>
    <%= link_to "Results", result_week_path, class: "btn btn-primary" %>
  </div>
</div>
