<h1> Week <%= @week.week_num %> What If... </h1>

<p>	Points for correct picks are in red, incorrect picks in black, and points that don't yet count either way are in green.  your total is in blue. The game headers have the winning team in red. Team codes are underlined for completed games


<% if @early %>
	<h2 style="color: red">Games for this week have not yet started</h2>
<% else %>
	<%= form_tag do %>
	<table>
		<tr><td><p></td></tr>
		<tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<% @outcomes.each_with_index do |o, i|
					g = o[:game]
					outcome = o[:outcome]
					home_color = o[:home_color]
					away_color = o[:away_color]

					ul1 = ""
					ul2 = ""
					if g.status == 'COMPLETE'
						ul1 = "<u>"
						ul2 = "</u>"
					end
				%>

					<td>
						<%= radio_button_tag "game_#{g.id}", 'NR', outcome == 'NR' %><b style="color: black"><sub>NR</sub></b><p>
						<%= radio_button_tag "game_#{g.id}", 'TIE', outcome == 'TIE' %><b style="color: black"><sub>TIE</sub></b><p>
						<%= radio_button_tag "game_#{g.id}", 'AWAY', outcome == 'AWAY' %><b style="color: <%= away_color%>"><sub><%= (ul1 + g.away_team.code + ul2).html_safe %></sub></b><p>
						<%= radio_button_tag "game_#{g.id}", 'HOME', outcome == 'HOME' %><b style="color: <%= home_color%>"><sub><%= (ul1 + g.home_team.code + ul2).html_safe %></sub></b>
					</td>
			<% end %>
		</tr>
		<% @players.each_with_index do |p, i|
			row_colors = ["cornsilk", "gainsboro"]
			row_color =  row_colors[i%2]
		%>
			<tr>
				<td style="background: <%= row_color %>"> <%= p[:pos] %> </td>
				<td style="background: <%= row_color %>"> .... </td>
				<td style="background: <%= row_color %>"> <%= p[:name] %> </td>
				<td style="color: gray; background: <%= row_color %>"> <b><%= p[:tb] %></b> </td>
				<td style="background: <%= row_color %>"> ... </td>
				<td style="color: blue; background: <%= row_color %>"> <b><%= p[:points] %></b> </td>
				<% p[:dpoints].each_with_index do |ch,j| %>
					<td style="color: <%= p[:colors][j]%>; background: <%= row_color %>"> <%= p[:dpoints][j] %> </td>
				<% end %>
			</tr>
		<% end %>
		<tr><td><p></td></tr>
	</table>
	        <%= submit_tag("Update scenario", class: "btn btn-large btn-primary") %>
	        <%= submit_tag("Use my picks", class: "btn btn-large btn-primary") %>
	        <%= submit_tag("Use results", class: "btn btn-large btn-primary") %>
	        <%= submit_tag("Reset", class: "btn btn-large btn-primary") %>
	        <!--%= submit_tag("Find my best shot", class: "btn btn-large btn-primary") %-->
	<% end %>
<% end %>

	<div class="span10 offset2">
	<p>
	<%= link_to "Week #{@week.week_num} Summary",   week_path(@week) %>
</div>


