<% provide(:title, "FOY #{@season.year}") %>
<% provide(:year, "#{@season.year}") %>
<h1>FBP<sub>hq</sub> FOY <%= @season.year %></h1>
<table>
	<tr>
		<td style="width: 3%"/>
		<td style="width: 12%"/>
		<% (1..@foy_data[:max_week]).each do |wnum| %>
			<td style="width: 5%;text-align: center"> <%= wnum %> </td>
		<% end %>
		<td style="width: 4%"> Total </td>
	</tr>
	<% @foy_data[:players].each_with_index do |p, i| %>
		<%
			row_colors = ["cornsilk", "gainsboro"]
			row_color =  row_colors[i%2]
		%>
		<tr style="background: <%= row_color %>">
			<td> <%= i+1 %> </td>
			<td> <%= p[:name] %> </td>
			<% (1..@foy_data[:max_week]).each do |wnum| %>
				<% color = row_color; color = "red" if p[:winner][wnum] %>
				<td style="background: <%= color %>;text-align: center"> <%= p[:points][wnum] %> </td>
			<% end %>
			<% color = row_color; color = "lime" if i == 0 && @foy_data[:complete] %>
			<td style="background: <%= color %>;text-align: right"> <%= p[:total] %> </td>			
		</tr>
	<% end %>
</table>
