<% provide(:title, 'Entries') %>
<h1>New Entry</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :year %>
      <%= f.text_field :season %>

      <%= f.label :week %>
      <%= f.text_field :week %>

      <%= f.label :tiebreak %>
      <%= f.text_field :tiebreak %>

      <%= for(@game_list) do |g| %>
      <%= end %>

      <%= f.submit "Submit Entry", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>